<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Poker</title>
  </head>
  <body>
    <div class="landing-page">
      <h1>Poker</h1>
      <div class="buttons">
        <div class="btn-box">
          <h2>Draw 5 random cards</h2>
          <form action="/draw-cards">
            <input
              class="draw-btn"
              type="submit"
              name="draw"
              id="draw"
              value="Draw"
            />
          </form>
        </div>
        <div class="btn-box">
          <h2>Input 5 cards seperated by spaces</h2>
          <form action="/input-hand">
            <input
              class="current_hand"
              type="text"
              name="current_hand"
              id="current_hand"
            />
            <input class="draw-btn" type="submit" value="Submit" />
          </form>
        </div>
        <div class="btn-box">
          <h2>Reset the Game</h2>
          <form action="/">
            <input
              class="reset-btn"
              type="submit"
              name="draw"
              id="draw"
              value="Reset"
            />
          </form>
        </div>
      </div>

      <div class="card-hand">
        <% if @poker && @input_hand %> <% @input_hand.split(" ").each do |card|
        %>
        <h1><%= card %></h1>
        <% end %> <% elsif @poker && @poker.hand %> <% @poker.hand.each do
        |card| %>
        <h1><%= card %></h1>
        <% end %> <% end %>
      </div>

      <div class="hand-rank">
        <% if @poker && @input_hand %>
        <h1><%= @rank_hand.rank_hand(@input_hand) %></h1>
        <% elsif @poker && @poker.hand %>
        <h1><%= p @rank_hand.rank_hand(@poker.current_hand) %></h1>
        <% end %>
      </div>
    </div>
  </body>
</html>
